node_modules
.env
test.txt
todo.txt
.prettierrc
documents
# public/uploads/
a.js
rent-anything-a6f78-firebase-adminsdk-fbsvc-df6af7bf0a.json
rent-anything-a6f78-firebase-adminsdk-fbsvc-d6b976eac.json
data.txt